html{
    padding:30%
}
.Cap{
    max-height: 150px;
    max-width: 100px;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
.name{
    background-color: blue;
    color: white;
    font-size: 30px;
    float: right;
    padding-right: 20%;
    padding-top: 5%;
    
}
div{
    background-color: blue;
}
a:link{
    color: red;   
}
a:hover{
    color: blue;
}
a:visited{
    color: black;
}

.theEnd{
    background-color: blue;
    text-align: center;
    color: white;
}