@media (min-width: 64em) {
   
  
   .navbar{
      display: none;
   }

  h1{
   color: red;
   padding-right: 20%;
  }

  a:hover{
   color:black;
   font-style:underline;
  }

  .iconF{
   padding-left: 3%;
   padding-top: 1%;
   display: flex;
  }
  .iconF:hover{
   opacity: .5;
  }
  .iconT{
   padding-left: 3%;
   display: flex;
  }
  .iconT:hover{
   opacity: .5;
  }
  
  .largeScreenNav{
   width: 100%;
   list-style: none;
   display: flex;
   flex-direction: row;
   background-color: lightgray;
   font-family: 'kanit', sans-serif;
   font-size: large;
   justify-content: space-between;
   padding: 2%;

}
ul{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   list-style: none;
   padding-left: 2%;
}
a{
   padding: 5%;
}

.active{
   padding-left: 5%;
   
}








}
