@media (min-width: 64em) {
   
  
   .navbar{
      display: none;
   }
  

  h1{
   font-size: 30px;
   padding-right: 20%;
  }

  a:hover{
   color:#0AE2FF;
   font-style:underline;
  }

  .iconF{
   padding-left: 3%;
   padding-top: 1%;
   display: flex;
  }
  .iconF:hover{
   opacity: .5;
  }
  .iconT{
   padding-left: 3%;
   display: flex;
  }
  .iconT:hover{
   opacity: .5;
  }
  
  
  .largeScreenNav{
   width: 100%;
   text-decoration: none;
   display: flex;
   flex-direction: row;
   background-color: #8B928F;
   font-family: 'kanit', sans-serif;
   font-size: large;
   justify-content: space-between;
   padding: 2%;
   

}
ul{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   list-style: none;
   padding-left: 2%;
}
a{
   padding: 5%;
   text-decoration: none;
   color: #0e2431;
}

.active{
   padding-left: 5%;
   
}


   #map{
       list-style: none;
   
   }
   .footer{
       background-color:lightgray;
   }
    
   .grid{
      display: grid;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-right: 5%;
      margin-left: 5%;
      
      
   }
   .event {
      grid-column: 1 !important; 
      grid-row: 1 !important;
      margin-left: 50px;
      padding: 30px;
      
      
    
  }

  .weather {
      grid-column: 1 !important;
      grid-row: 2 !important;
      background-color: #0AE2FF;
      margin-left: 180px;
      margin-bottom: 100px;
      /* padding: 10%; */
      
      
  }

  .join {
      grid-column: 1 !important;
      grid-row: 3 !important;
      
      
      
  }

  .callToAction {
    grid-column: 2 / span 2 !important;
    grid-row: 1 / span 2 !important;
    min-height: 500px;
    min-width: 800px;
    padding: 100px;    
  }
.callToAction h2{
    margin-top: 1% !important;
}


  .newsRelease {
      grid-column: 2 / span 3 !important;
      grid-row: 3 !important;        
  }
  .newsRelease a{
    color: white;
    margin-right: 300px;
    font-weight: 300;
  }
  .newsRelease h2{
    margin-right: 300px;
  }
  .newsRelease p{
    margin-right: 300px;
  }
  


  .sLight {
      grid-column: 4 !important;
      grid-row: 1 / span 3 !important;
      display: inline !important;
      margin-bottom: 250px;
      background-color: beige;
      
      
      
  }
  .sLight3 {
   display: flex;
   flex-direction:row;
   padding: 30%;
  }
.sLightDiv{
    padding: 5%;
}
 

.wImage{
    max-width: 600px;
    max-height: 400px;
}

}

.discoverGallery{
    background-color: beige;  
    float: left;  
}


.lOne{
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    margin: 2%;
    
    
}

.lOne:hover{
    width: 500px;
}
.lTwo{
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    margin: 2%;
    
}
.lTwo:hover{
    height: 500px;
}
.lThree{
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    margin: 2%;
    
}
.lThree:hover{
    height: 500px;
}
.lFour{
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    margin: 2%;
    
}
.lFour:hover{
    width: 500px;
}
.lFive{
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    margin: 2%;
    
}
.lFive:hover{
    height: 500px;
}


