@media (min-width: 64em) {
   
  
   .navbar{
      display: none;
   }
  

  h1{
   
   padding-right: 20%;
  }

  a:hover{
   color:#0AE2FF;
   font-style:underline;
  }

  .iconF{
   padding-left: 3%;
   padding-top: 1%;
   display: flex;
  }
  .iconF:hover{
   opacity: .5;
  }
  .iconT{
   padding-left: 3%;
   display: flex;
  }
  .iconT:hover{
   opacity: .5;
  }
  
  
  .largeScreenNav{
   width: 100%;
   text-decoration: none;
   display: flex;
   flex-direction: row;
   background-color: #8B928F;
   font-family: 'kanit', sans-serif;
   font-size: large;
   justify-content: space-between;
   padding: 2%;
   

}
ul{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   list-style: none;
   padding-left: 2%;
}
a{
   padding: 5%;
   text-decoration: none;
   color: #0e2431;
}

.active{
   padding-left: 5%;
   
}


   #map{
       list-style: none;
   
   }
   .footer{
       background-color:lightgray;
   }
    
   .grid{
      display: grid;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-right: 10%;
      margin-left: 10%;
      
      
   }
   .event {
      grid-column: 1 !important; 
      grid-row: 1 !important;
      background-color: beige;
      margin: 15%;
    
  }

  .weather {
      grid-column: 1 !important;
      grid-row: 2 !important;
      background-color: #0AE2FF;
      margin: 10%;
      
  }

  .join {
      grid-column: 1 !important;
      grid-row: 3 !important;
      background-color: beige;
      margin: 10%;
      
  }

  .callToAction {
      grid-column: 2 / span 2 !important;
      grid-row: 1 / span 2 !important;
      padding-top: 2%;
      background-color: beige;
      
  }

  .newsRelease {
      grid-column: 2 / span 3 !important;
      grid-row: 3 !important;
      background-color: beige;
      margin: 10%;
      
  }

  .sLight {
      grid-column: 4 !important;
      grid-row: 1 / span 3 !important;
      display: inline !important;
      background-color: beige;
      margin-right: 10%;
      margin-left: 15%;
      margin-bottom: 70% ;
      
  }
  .sLight3 {
   display: flex;
   flex-direction:row;
   background-color: beige;
   margin: 10%;
   
  }



}
