@media (min-width: 32.5em) {
     

   
     .largeScreenNav{
      display: none;
  }
  .title{
   display: none;
  }
  .sLight3{
    display: none;
  }


h1{
  font-size: 1.5em;
  margin-right: 170px;
}

  .grid{
    
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }
  .callToAction{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .event{
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  }
  .weather{
    display: flex;
    flex-direction: column;
    width: 30%;
    
  }
  .newsRelease{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .join{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sLight{
    display: flex;
    flex-direction: row;
    width: 100%; 
  }
 .sLightOne{
    width:50%;
    
 }
 .sLightTwo{
    width:50%;
    
 }
 .wImage{
  max-width: 500px;
  max-height: 300px;
}





} 